* {
    font-size: 10px;
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
}

h1 {
    font-size: 3rem;
}

.container {
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 20px;
  }
  
  td, th {
    border: 1px solid #ffffff;
    text-align: center;
    padding: 1rem;
  }

  tr th {
    background-color: #b4b4b4;
    color: white;
    text-align: left;
    font-size: 2.4rem;
    border-bottom: 4px solid white;
  }

  tr:nth-child(even) {
    background-color: #dddddd;
  }

  tr:nth-child(odd) {
    background-color: #f4f4f4;
  }

  .pokemon-image-td {
    width: 30%;
  }
  
  .pokemon-name-td {
    text-align: left;
  }

  a {
    text-decoration: none;
    color: black;
    font-weight: 400;
    font-size: 2rem;
  }

.pokemon img {
    width: 5rem;
    height: 5rem;
}

button {
    width: 100%;
    padding: 1.6rem;
    background: cornflowerblue;
    border: unset;
    cursor: pointer;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    color: white;
    font-size: 2rem;
}

